<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tomato one</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <header class="header__tomato__all">
		<div class="wrapper">
			<div class="header__wrapper">
				<div class="header__logo">
					<a href="/" class="header__logo-link">
						<img src="./images/svg/logo.svg" alt="Agridera Seeds and Agriculture Ltd" class="header__logo-pic">
					</a>
				</div>
				<div class="header__burger burger">
					<span class="burger__line burger__line_first"></span>
					<span class="burger__line burger__line_second"></span>
					<span class="burger__line burger__line_third"></span>
				</div>
				<div class="header__nav__search-form">
					<form class="search-form">
						<p class="serch-form__info">
							<input type="text" class="serch-form__field" placeholder="Search">
						</p>
					</form>
				<nav class="header__nav">
					<ul class="header__list">
						<li class="header__item">
							<a href="index.html" class="header__link">Home</a>
						</li>
						<li class="header__item">
							<a href="#!" class="header__link">Company Profile</a>
						</li>
						<li class="header__item">
							<a href="tomato__all.html" class="header__link">Products</a>
						</li>
						<li class="header__item">
							<a href="#!" class="header__link">Services</a>
						</li>
						<li class="header__item">
							<a href="#!" class="header__link">R & D</a>
						</li>
						<li class="header__item">
							<a href="contact_us.html" class="header__link">Contact</a>
					</ul>
					<div class="header__nav-close">
						<span class="header__nav-close-line"></span>
						<span class="header__nav-close-line"></span>
					</div>
				</nav>
			</div>
		</div>

		</div>
	</header>
<!-- Header end -->

<main class="main__tomatoes">

    <!-- Tomatoes__one__block start -->
        <div class="tomatoes__one__block">
            <a href="tomato__all.html" class="tomatoes__one-desc">
                <!--Return to all tomatoes-->
				Return to all bananas
            </a> 
        </div>
    <!-- Tomatoes__one__block end -->

	<!-- Tags start -->

	<div class="tag__tomatoes">
		<div class="wrapper-full-2">

			<div class="tags__tag tag">
				<div class="tag__info">
					<h1 class="tag__title">
						{{product.title}}
					</h1>
					<p class="tag__desk">
						{{product.short_text}}
					</p>
					<a class="tag__more"></a>
					<div class="wrapper__full-3">
						<div class="tag__pic-pic"> 
							<img src="./images/svg/tomatoes.svg" alt="tomatoes" class="tag__pic-1"> 
							<p class="tag__desk-1">
								{{product.desc}}
							</p>
						</div>
					</div>
				</div>
				<div class="tag__pic">
					<!--<img src="./images/tag_809.jpg" alt="tag_809" class="tag__thumb">-->
						<img :src="'../img/'+product.image" class="tag__tomatoes__card-pic">
					
						<button type="submit" class="tag__pic-pic-1">
							<img src="./images/svg/ico_pdf.svg" alt="ico_pdf" class="tag__pic__1">
							<!--Download pdf-->
							<a class="pdf" href="#" @click.prevent="addToCart(product.id)" v-if="btnVisible==0">  Add to cart </a>
							<a class="pdf" href="contact_us.html" v-if="btnVisible==1"> Go to cart </a>
						</button>
				</div>
			</div>

			<div class="wrapper-full-4">
				<div class="tags__tag-1 tag-1">
					<div class="tag__info-1">
						<h2 class="tag__title-1">
							CHARACTERISTICS
						</h2>
						<a class="tags__more-1"></a>
						<p class="tags__desk-1">
							<span class="bold">Resistance</span><br>
							HR: ToMV:0-2; Fol: 1,2; Ve/Vd;<br>
							IR: TYLCV						
						</p>
					</div>
				</div>
			</div>

			<div class="tags__tag-2 tag-2">
				<div class="tag__info-2">
					<div class="tag__info-1-2">
						<h2 class="tag__title-2">
							Plant
						</h2>
						<a class="tags__more-2"></a>
						<div class="tag__pic-pic-2">
							<ul class="disc">
							  <li>Strong vigor that provides good leaf coverage.</li>
							  <li>Very high productivity with good fruit setting.</li>
							  <li>Early matured variety.</li>
							</ul>
						</div>													
					</div>
				</div>
				<div class="tag__info-2">
					<div class="tag__info-1-2">
						<h2 class="tag__title-2">
							Cycle
						</h2>
						<a class="tags__more-2"></a>
						<div class="tag__pic-pic-2">
							<ul class="disc">
							  <li>Spring</li>
							  <li>Fall </li>
							  <li>Winter</li>
							</ul>
						</div>													
					</div>
				</div>
			</div>

			<div class="tags__tag-2 tag-2">
				<div class="tag__info-2">
					<div class="tag__info-1-2">
						<h2 class="tag__title-2">
							Fruit
						</h2>
						<a class="tags__more-2"></a>
						<div class="tag__pic-pic-3">
							<ul class="disc">
							  <li>Long shelf life on plant and post harvest.</li>
							  <li>Nice shiny attractive deep red color.</li>
							  <li>Average fruit size: 140 – 160 grams.</li>
							</ul>
						</div>													
					</div>
				</div>
				<div class="tag__info-2">
					<div class="tag__info-1-2">
						<h2 class="tag__title-2">
							Color
						</h2>
						<a class="tags__more-2"></a>
						<div class="tag__pic-pic-3">
							  <p>Red</p>
							<!--<img src="./images/svg/group_1.svg" alt="group_1" class="tag__pic-3">-->
						</div>													
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- Tags end -->

	<!--<div class="tag__tomatoes">
		<div class="wrapper-full-1">
			<div class="tag__tomatoes__cards">

				<div class="tag__tomatoes__card tag__tomatoes__card_size_lg" v-if="products" v-for="p in products">
					<a :href="'tomato__one.html#'+p.id" class="bananaIMG__tomato-one">
					<img :src="'../img/'+p.image" alt="banans" class="tag__tomatoes__card-pic">
					</a>
					<h5 class="tag__tomatoes__card-title">
						<div class="tag__card">
							<h6 class="tag__card-title">
								<span class="bold">{{p.title}}</span>
							</h6>
							<p class="tag__card-desc">
								{{p.short_text}} 
							</p>
						</div>
					</h5>
				</div>
			</div>	
		</div>
	</div>-->

</main>
<script src="./js/main_effects.js"></script>
    	
<!-- Footer start -->
<footer class="footer">
	<div class="wrapper1">
		<div class="footer__item">
			<div class="footer__menu">
				<ul class="footer__list">
					<li class="footer__item">
						<a href="index.html" class="footer__link">PROFILE</a>
					</li>
					<li class="footer__item">
						<a href="#!" class="footer__link">MANAGEMENT</a>
					</li>
					<li class="footer__item">
						<a href="#!" class="footer__link">PRODUCTS</a>
					</li>
					<li class="footer__item">
						<a href="#!" class="footer__link">R&D</a>
					</li>
					<li class="footer__item">
						<a href="#!" class="footer__link">LINKS</a>
					</li>
					<li class="footer__item">
						<a href="#!" class="footer__link">SITEMAP</a>
					</li>
					<li class="footer__item">
						<a href="contact_us.html" class="footer__link">CONTACT</a>
					</li>
				</ul>
			</div>
			<nav class="footer__nav">
					<ul class="menu__list">
						<li class="menu__item">
							<a href="#!" class="menu__link">
								<img src="./images/svg/Ico_in.svg">	
							</a>
						</li>
						<li class="menu__item">
							<a href="#!" class="menu__link">
								<img src="./images/svg/Ico_inst.svg">	 
							</a>
						</li>
						<li class="menu__item">
							<a href="#!" class="menu__link">
								<img src="./images/svg/Ico_tube.svg">	
							</a>
						</li>
						<li class="menu__item">
							<a href="#!" class="menu__link">
								<img src="./images/svg/Ico_tw.svg">	
							</a>
						</li>
						<li class="menu__item">
							<a href="#!" class="menu__link">
								<img src="./images/svg/Ico_fb.svg">	
							</a>
						</li>
					</ul>
			</nav>
		</div>
	</div>
	<div class="footer__1">
		<div class="footer__title">
			<p class="footer__title-1">
				AGRIDERA SEEDS & AGRICULTURE LTD. © 2020
			</p>
		</div>
	</div>
	</div>
</footer>
<!-- Footer end -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="./js/main.js"></script>
</body>
</html>